.idea
/vendor
/.env
/node_modules/
/.vagrant
/players.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Thumbs.db
.DS_Store
/components
composer.lock
yarn.lock
package-lock.json
.phpstorm.*
_ide_helper*
mix-manifest.json
.update.last
*.log
.gitconfig
.vimrc
.bash*
.ssh
.rnd
.my*
.local
.config
.cache
.sync
.npm
